Data Types in Python are:

    bool: True or False
    
    int: whole number
    
    str: a sequence of characters strung together
    
    float: decimal numbers
    
    list: an ordered sequence of objects, can hold different data types
    
    dict: a collection of key and value pairs
    
    NoneType: a special value that indicates absence of value
    
    tuple: collection of objects which ordered and immutable

In [1]:
# checking the data type
type(12)

int

In [2]:
type('hello')

str

In [3]:
type(True)

bool

In [4]:
type([1,2,'a'])

list

Variable is a way to assign a name to a value. 

They are created using a valid identifier and using the assignment operator, =

In [6]:
# variable example

my_number = 21
my_new_number = my_number + 3

- Always remember, 

'=' does not mean equal to, it means assign to

In [7]:
True and False

False

In [8]:
True or False

True

In [9]:
True and True

True

In [10]:
True or False

True

In [11]:
True and not False

True

- AND evaluates to True if both sides are true
- OR evaluates to True if one side is true
- not means opposite

Mathematic Operators:
  - + -> addition
  - - -> subtraction
  - * -> multiplication
  - / -> division
  - ** -> exponentiation

In [12]:
4 + 4

8

In [13]:
4-4

0

In [14]:
4/4

1.0

In [15]:
4*4

16

In [16]:
4**2

16

numbers or values can be compared with the following operators:
- == -> equal to
- != -> not equal to
- '>' -> greater than
- '<' -> less than
- '>=' greather than or equal to
- '<=' less than or equal to

while comparing values using the above operators, it will return boolean values

In [18]:
4 < 5

True

In [19]:
4 > 5

False

- Strings are used to represent text. 
- Strings are delimeted with either single or double quotes. 
- The only difference being that in order to have a string that contains a quote, you must either use the opposite type of quote, or escape the string.

In [20]:
print('Here is a single quote --> \' <-- ')

Here is a single quote --> ' <--

- Strings can have multiple lines in it

In [24]:
print('\nThis string\ncontains \na lot of \nlines')

This string
contains
a lot of
lines

- Strings can be compared with comparison operators
- Strings can be concantenated using + operators

In [25]:
'abc' + 'def'

'abcdef'

String Formatting
- % formatting : little older way but still very common
- .format : a newer way of formatting strings
- f-string: fairly new way of formatting

In [35]:
name = 'Bibek'
'Hello, %s!' % name

"my name is bibek and i am %s years old" % 50

'my name is bibek and i am 50 years old'

In [40]:
# fromatting using .format
my_number= 49
'hello everyone, my favorite number is {}.'.format(my_number)

'hello everyone, my favorite number is 49.'

In [41]:
# formatting using f-strings
f'hello everyone, my favorite number is {my_number}'

'hello everyone, my favorite number is 49'

String Manipulation

.lower and .upper -> convert the string into lower or upper case

.strip -> removes any leading or trailing whitespace from the string

.isdigit -> test whether or not the string is a number

.split -> convert a string to a list

.join -> convert a list to a string

In [47]:
''.join(['a', 'b','c'])

'abc'

# Lists
- allows us to store sequence of bojects of various data types
- item in list is referred to as element
- list can be created with list comprehension, a short way to specify what elements should be in the list

In [49]:
a = [1,2,3]
type(a)

list

In [51]:
b = [[1,2,3], ['a', 'b'], [True, False]]
type(b)

list

In [54]:
# list comprehension to create list
d = [n* 2 for n in range(10)]
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

- items can be added to a list using .append() and removed using .pop()

In [57]:
num = [n for n in range(5)]
num.append(5)
num

[0, 1, 2, 3, 4, 5]

In [58]:
num.pop()

5

In [59]:
len(num)

5

- individual elements in the list can be referenced by their index. Index starts from zero, meaning, the first element of the list is at index 0

In [60]:
num[0]

0

In [61]:
num[1]

1

In [62]:
num[3]

3

In [63]:
num[:3] # everything all the way up to index 3, not including element at index 3

[0, 1, 2]

In [65]:
num[1:3] # element from index 1 all the way up to 3, not including element at index 3

[1, 2]

# Tuples
- tuples are like list but they are immutable, meaning they cannot be changed. They are created using ( )
- once the tuples are created, its length is fixed, no more items can be added to it or removed from it

In [66]:
a = (1,2,3)
type(a)

tuple

- you can access elements of a tuple the same way as you access the elements in a list

In [69]:
my_tuple = (1,2,3)
my_tuple[1]

2

In [70]:
my_tuple[0]

1

# Dictionaries
- Dictionaries are a way to group values together and give a name to each value
- the name given to the values are referred to as keys
- so, its common to refer to dictionary as a group of key-value pairs

In [77]:
# one way to create a dictionary
my_dict = {'name': 'Codeup', 'age': 4}
my_dict
type(my_dict)

dict

In [79]:
# another way to create a dictionary is:
my_another_dict = dict(name = 'Sam', age = 4)
my_another_dict
type(my_another_dict)

- You can access values in a dictionary by their name, using a similar syntax to the way that list elements are accessed.

In [83]:
my_another_dict['name']
my_another_dict['age']

4

In [87]:
my_dict['name']
my_dict['age'] + 1

5

# List Comprehension Exercises

In [100]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

In [92]:
# Exercise 1 - rewrite the above example code using list comprehension syntax.
#Make a variable named uppercased_fruits to hold the output of the list comprehension.

uppercased_fruits = [elements.upper() for elements in fruits]
uppercased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [94]:
# Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output

capitalized_fruits = [fruit.capitalize() for fruit in fruits ]
capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

In [98]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels.
fruits_with_more_than_two_vowels = [fruit for fruit in fruits if fruit.count('a') + fruit.count('e') + fruit.count('i')+ fruit.count('o')+ fruit.count('u')> 2]
fruits_with_more_than_two_vowels

['guava', 'pineapple', 'mandarin orange']

In [102]:
# Exercise 4 - make a variable named fruits_with_only_two_vowels.
fruits_with_only_two_vowels = [fruit for fruit in fruits if fruit.count('a') + fruit.count('e') + fruit.count('i')+ fruit.count('o')+ fruit.count('u') == 2]
fruits_with_only_two_vowels

['mango', 'kiwi', 'strawberry']